.card-container{border: 3px solid indianred;border-radius: 20px; margin: 20px }
.user_date{ display: flex; align-items: center;justify-content: space-between;   }
.user_date p { margin: 10px 20px;font-size: 14px;font-style: italic;}
.content_attachment{
    display: flex;flex-direction: column; justify-content: center; align-items: center;
}
.comments-img{
    height:20px
}
.comments-button{
    margin:10px 20px;
    cursor: pointer;
}
.content{ width: 80%;text-align: center;}